.footer{
    height: 60px;
    width: 100%;
    background: #fff;
    z-index: 1;
    position:fixed;
    bottom: 0px; 
    display: flex;
}
.download{
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 42px;
    height: 42px;
    background: url(/img/toutiao.jpeg) no-repeat;
    overflow: hidden;
    background-size: 100% 100%;
    border: 1px solid #eee;
    border-radius: 7px;
}
.label{
    margin: 10px;
}
.name{
    font-size: 20px;
}
.open{
    border-radius: 28px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-image: linear-gradient(90deg,red,#ff5050);
    color: #fff;
    text-align: center;
}